.licenseBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 25px;
  font-weight: 500;
  padding: 20px 0;
}
.blockCheckt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.btn {
  width: 40%;
}
